* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --bg: #316AEA;
  --bgs: #70CBFB;
  --color-pri: #4379F2;
  --color-text: #15191E;
  
  /* Sizes */
  --size-hd: 9.6rem;
  --pd-sc: 8rem;
  --radius: 2.4rem;
  --container: 120rem;
  --wave: calc(180/1512*100vw);
}

@media (max-width: 1200px) {
  :root {
    --pd-sc: 4rem;
    --radius: 1.6rem;
    --size-hd: 6rem;
  }
}

@media (max-width: 800px) {
  :root {
    --pd-sc: 4rem;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #00215e;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hiệu ứng hover effectShine cho gallery-item */
.effectShine {
  position: relative;
  overflow: hidden;
}
.effectShine::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}
.effectShine:hover::before {
  animation: shine 1s;
}
@keyframes shine {
  100% {
    transform: translate3d(2000%, 0, 0) rotate(35deg);
  }
}
